<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1a09d">  <td>20/07/24 07:12:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchProduct.searchProduct()[pri:0, instance:Framework.SearchProduct@4f638935]">&gt;&gt;searchProduct</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1472465</td>   <td></td> </tr>
<tr bgcolor="c1a09d">  <td>20/07/24 07:12:28</td>   <td>8554</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchProduct.tearDown()[pri:0, instance:Framework.SearchProduct@4f638935]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1472465</td>   <td></td> </tr>
</table>
